<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Discord Bot Maker - Theme Creator</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="../css/semantic/dist/semantic.js"></script>
</head>
<%- themeExtension.html() %>
<form id="themeSettings">
	<%- themeExtension.modals(themeConfig) %>
</form>

<script>
	const { ipcRenderer } = require('electron');
	function saveSettings() {
		let settings = {};

		<% themeExtension.fields.forEach(field => { %>
		settings.<%= field.id %>TextColor = document.querySelector('#<%= field.id %>TextColor').value;
		settings.<%= field.id %>BackgroundColor = document.querySelector('#<%= field.id %>BackgroundColor').value;

		<% if (field.customFields) return %>
		document.getElementById("<%= field.id %>Option").style.color = document.querySelector('#<%= field.id %>TextColor').value;
		document.getElementById("<%= field.id %>Option").style.background = document.querySelector('#<%= field.id %>BackgroundColor').value;

		<% }) %>


		ipcRenderer.send('saveProject', settings)
	}


	<% themeExtension.fields.forEach(field => {  %>
		document.getElementById("<%= field.id %>Option").style.color = document.querySelector('#<%= field.id %>TextColor').value;
		document.getElementById("<%= field.id %>Option").style.background = document.querySelector('#<%= field.id %>BackgroundColor').value;
	<% }) %>

</script>

</html>